@tailwind base;
@tailwind components;
@tailwind utilities;

.section-background {
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background: linear-gradient(to right, #516395, #614385);
   animation: bg-change 10s infinite;
}

@keyframes bg-change {

   0%,
   100% {
      filter: hue-rotate(0deg);
   }

   50% {
      filter: hue-rotate(-45deg);
   }
}